;:root{
    --primary-color:#12ac8e;
    --primary-color-dark:#0d846c;
    --primary-color-light:#e9f7f7;
    --secondary-color:#fb923c;
    --text-light:#767268;
    --text-dark:#333333;
    --white:#ffffff;
    --max-width:1200px;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.section_container{
    max-width:var(--max-width);
    margin:auto;
    padding: 5rem 1rem;
}
.section_header{
    margin-bottom: .5rem;
    font-size:2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.btn{
    padding:.75rem 2rem;
    outline:none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color:var(--white);
    background-color:orange;
    border-radius:5px;
    cursor: pointer;
}

img{
    width: 100%;
    display:flex;
}
a{
    text-decoration:none;
}
body{
    font-family: 'poppins', sans-serif;
}

header{
    background-image: linear-gradient(to right, rgba(18,172, 142, .9), 
                    rgba(18,172, .7)),url("body\ photo.jpg");
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
}
.nav_container{
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--white);
}
.nav-logo span {
    color:orange;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 2rem;
}
.link a{
    padding: 0.5rem;
    color:white;
}
.link a:hover{
    color:black;
}
.header_container{
    display: block;
    align-items: center;
    gap: 5rem;
}
.header_container h1{
    margin-bottom:1rem;
    max-width:800px;
    font-size: 3.5rem;
    line-height: 4rem;
    color: white;

}
.header_container p{
    margin-bottom: 2rem;
    max-width: 1000px;
    color:#e9f7f7;
}
.header_form{
    width:100%;
    max-width: 350px;
    display:flex;
    padding-top: 30px;
}
.header_form form{
    display: flex;
    gap: 1rem;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    }
.header_form input{
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color:#12ac8e;
    background-color: #e9f7f7;
    border-radius:5px;
}
.header_form input::placeholder{
    color: #12ac8e;
}
.form_btn{
    background-color: #12ac8e;
    transition: .3s;
}
.form_btn:hover{
    background-color: #0d846c;
}
.header_form h4{
    font-size: 1.5rem;
    font-weight: 700;
    color:#12ac8e;
}
.service_header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 2rem;
    color: #12ac8e;
}
.service_header_content p{
    max-width: 600px;
    color: #767268;
}
.service_btn{
    padding: .75rem 1rem;
    outline: none;
    font-size: 1rem;
    color: #12ac8e;
    border: 1px solid #12ac8e;
    background-color: transparent;
    border-radius: 5px;
    white-space:nowrap;
    cursor:pointer;
    transition:0.3s;
}
.service_btn:hover{
    color: white;
    background-color: #12ac8e;
}
.service_grid{
    margin-top:4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.service_card{
    padding: 2rem;
    text-align: left;
    border-radius:10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    cursor: pointer;
}
.service_card span{
    display: inline-block;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 2.5rem;
    color:#12ac8e;
    background-color: #e9f7f7;
    border-radius:100%;
    transition: 0.3s;
}
.service_card h4{
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color:#333333;
}
.service_card p{
    margin-bottom: 1rem;
    color:black;
}
.service_card a{
    color: #767268;
    font-size: 20px;
}
.service_card a:hover{
    color:#0d846c;
}
.service_card:hover span {
    color:#e9f7f7;
    
}

.about_container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    padding-top: 5px;
}
.about_content p{
    margin-bottom: 1rem;
    color:#070707;
    margin: 50px;
}
.about_image img{
    margin:auto;
    border-radius: 10px;  
}
.footer{
    background-color: #e9f7f7;
}
.footer_container{
    display: grid;
    grid-template-columns:400px repeat(3,1fr);
    gap:2rem;
}
.footer_col h3{
    margin-bottom:1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color:#12ac8e;
}
.footer_col h3 span{
    color:#fb923c;
}
.footer_col h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color:#12ac8e;
}
.footer_col p{
    margin-bottom: 1rem;
    color:#333333;
    cursor: pointer;
    transition: 0.3s;
}
.footer_col p:hover{
    color: #12ac8e;
}
.footer_col i{
    color: #12ac8e;
}
.footer_bar{
    background-color: #12ac8e;
}
.footer_bar_content{
    max-width: var(--max-width);
    margin: auto;
    padding:0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.footer_bar_content p{
    font-size: 0.8rem;
    color:#ffffff;
}
.footer_socials{
    display:flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
}

#intro{
    display: flex;
    padding-top: 5%;
    padding: 5%;
    gap: 5%;
    width: auto;
    justify-content: space-between;
}

#h1{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: #13ae8f;
}

span{
    color: #fb923c;
    font-style: italic;
}

#diet{
    width: 50%;
    padding: 5%;
    padding-top: 2%;
}

#skin{
    width: 40%;
    padding: 5%;
    padding-top: 2%;
}

#weight{
    width: 50%;
    padding: 5%;
    padding-top: 2%;
}

#gain{
    width: 50%;
    padding: 5%;
    padding-top: 2%;
}
#hydration{
    width: 50%;
    padding: 5%;
    padding-top: 2%; 
}
#younger{
    width: 50%;
    padding: 5%;
    padding-top: 2%;
     
}
#hair{
    width: 50%;
    padding: 5%;
    padding-top: 2%;
}

#energy{
    width: 50%;
    padding: 5%;
    padding-top: 2%;
}
.cont{
    display: flex;
    gap: 5rem;
    margin: 3rem 2rem;
}

.hs{
    text-align: center;
    color: #12ac8e;
}

.cont img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
}
.clo{
    color: lightsalmon;
}
.back{
    background-color: #eef3f9;
    padding: 10px 30px;
}
.back li{
    font-size: 20px;
    color: black;
}
.txt{
    font-size: 1.5rem;
}

.back1{
    background-color: #12ac8e;
    padding: 30px;
}
.back1 li{
    color: whitesmoke;
}
.back1 p{
    color: white;

}
.subs{
    color: cyan;
    font-weight: bold;
}

.day1-2{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}
.day1-2 h4{
    margin-top: 1rem;
}
.day1{
    background-color: #12ac8e;
    padding: 30px;
    border-radius: 15px;
}
.day2{
    background-color: #12ac8e;
    padding: 30px;
    border-radius: 15px;
}
.head7{
    text-align: center;
    font-size: 3rem;
    color: #0d846c;
}
.day1-2 h4{
    color: cyan;
}
.day1-2 h3, li{
    color: white;
}
.day1-2 p{
    color: gold;
    font-weight: bolder;
}

#welc{
    text-align: center;
    color: #13ae8f;
    font-size: 3rem;
}
.nut{
    color: #fb923c;
}

#font h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#font p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.color-b p{
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}
.color-b{
    background: linear-gradient(to right, #a2fc60, #fdb67b);
    padding: 3rem;
}
/*workoutpage */
.dynamic-background{
    background: linear-gradient(to right, #9fff5f, #feb47b);
  color: #fff;
  text-align: center;
  padding: 50px;
}
.content-container{
    margin: 20px auto;
    padding: 5px;
    background: linear-gradient(45deg, #adf16e 25%, transparent 25%), linear-gradient(-45deg, #e6e6e6 25%, transparent 25%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#showcase{
    overflow: hidden;
    padding: 50px 0;
}
.work{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.text-overlay{
    
    position: absolute;
    bottom: 25px;
    left: 10%;
    width: 40%;
    background-color:white;
    padding: 10px;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    text-align: center;
}
.text-overlay:hover{
    transform: scale(1.1);
    transition: background 0.5s, transform 0.5s;
    background-color: #12ac8e;
}
.service-images {
    display: flex;
    flex-wrap: wrap;
}

.services-images img {
    width: 100%;
    max-width: 300px; 
    height: auto;
    margin-right: 10px;
    border-radius: 10%;
}
#services {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
    grid-gap: 50px;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.services-list div {
    background: #03cea2;
    padding: 10px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: yellowgreen;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #ee8a37;
    transform: translateY(10px);
}
.lastcontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 850px;
  height: 500px;
  margin: 0 auto;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.routine{
    padding-top: 35px;
    background: linear-gradient(to left, transparent 50%, #f1f0b4 50%);
}
.bodythree{
    display: flex;
    align-items: center;
}